<h1 class="signinTitle">Sign in</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <p class="signinTip" style="font-size: 18px;"><%=f.label :loginTip %></p>
  <p><%= f.text_field :login , :autofocus => true%></p>

  <div class="signinTip" style="font-size: 18px;"><%= f.label :password %><br />
  <%= f.password_field :password %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="signinTip" style="font-size: 20px;">
      <%= f.check_box :remember_me %> <%= f.label :remember_me %>
    </div>
  <% end -%>


  <input class="btn btn-success" style="font-size:20px; font-family:'Elsie Swash Caps';" name="commit" type="submit" value="Sign in">
<% end %>

<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />


<script type="text/javascript">
  $(document).ready(function() {


  });
</script>

<style type="text/css">
  .signinTitle{
    color:darkorange;
    font-family: 'Merienda One';
  }

  .signinTip{
    font-family: 'Elsie Swash Caps';
    color: lightblue;
  }
</style>

