<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!-- Buger icon -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Varietal', root_path, class: 'navbar-brand' %>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown navBtn">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coffee Varietal <b class="caret"></b></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a tabindex="-1" href="/coffeeintro#caturra">Caturra</a></li>
            <li><a tabindex="-1" href="/coffeeintro#maragogype">Maragogype</a></li>
            <li><a tabindex="-1" href="/coffeeintro#typica">Typica</a></li>
            <li><a tabindex="-1" href="/coffeeintro#bourbon">Bourbon</a></li>
            <li><a tabindex="-1" href="/coffeeintro#sidamo">Sidamo</a></li>
            <li><a tabindex="-1" href="/coffeeintro#pacamara">Pacamara</a></li>
            <li><a tabindex="-1" href="/coffeeintro#mocca">Mocca</a></li>
            <li><a tabindex="-1" href="/coffeeintro#pacas">Pacas</a></li>
            <li><a tabindex="-1" href="/coffeeintro#geisha">Geisha</a></li>
            <li><a tabindex="-1" href="/coffeeintro#catuai">Brasil Catuai</a></li>
            <li><a tabindex="-1" href="/coffeeintro#sl28">Kenya SL 28</a></li>
            <li><a tabindex="-1" href="/coffeeintro#mandheling">Indonesia Mandheling</a></li>
          </ul>
        </li>

        <!-- <li class="navBtn">
          <a href="#">Atmosphere</a>
        </li> -->

        <!-- <li class="navBtn">
          <a href="#">POS</a>
        </li> -->

        <li class="navBtn">
          <a href='/claim_places/1'>Note</a>
        </li>

        <li class="navBtn">
          <a href='/claim_places'>Stores</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <div class="text-warning navBtn">
              <div id="navbarUsername">
                Hi!, <%= current_user.username %>
                <%= link_to("Sign out", destroy_user_session_path, :method => :delete )%>
              </div>
            </div>
          </li>
        <% else %>
          <li>
            <a href="#" class="signinbtn">Sign In</a>
          </li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="hiddenSingin" style="display: none">
  <%= render :partial => "devise/shared/sessions_new" %>
</div>

<div class="hiddenSingup" style="display: none">
  <%= render :partial => "devise/shared/registrations_new" %>
</div>
