
<div class="navWraper">
	<div class="container">
		<div class="user_navigation navbar navbar-inverse ">
			<div class="navbar-inner">

				<a class="brand" href="http://varietal.dev">Varietal</a>

        <div class="nav-collapse collapse">
          <ul class="nav">
            <!--<li class="active"><a href="#">Home</a></li>-->

            <li class="dropdown navBtn">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Coffee Varietal <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li><a tabindex="-1">Caturra</a></li>
                <li><a tabindex="-1">Maragogype</a></li>
                <li><a tabindex="-1">Typica</a></li>
                <li><a tabindex="-1">Bourbon</a></li>
                <li><a tabindex="-1">Sidamo</a></li>
                <li><a tabindex="-1">Pacamara</a></li>
                <li><a tabindex="-1">Mocca</a></li>
                <li><a tabindex="-1">Pacas</a></li>
                <li><a tabindex="-1">Geisha</a></li>
                <li><a tabindex="-1">Brasil Catuai</a></li>
                <li><a tabindex="-1">Kenya SL 28</a></li>
                <li><a tabindex="-1">Indonesia Mandheling</a></li>
              </ul>
            </li>

            <li class="navBtn">
              <a href="#">Atmosphere</a>
            </li>

            <li>
              <!--<div class="container">-->
                <div class="row-fluid" style="margin-left: 15px; margin-top:6px;">
                  <div class="btn-group">
                    <button id="claimPlace" class="btn btn-info btn-small" role="button"
                            onclick="document.location.href='/claim_places';return false;">
                      Claim Place!
                    </button>
                  </div>
                </div>
              <!--</div>-->
            </li>

            <% if user_signed_in? %>
              <li>
                <div class="text-warning text-right offset4">
                  <div id="navbarUsername">
                    <%= current_user.username %>
                    <%= link_to("Sign out", destroy_user_session_path, :method => :delete )%>
                  </div>
                </div>
              </li>
            <% else %>
              <li class="btn-group offset4">
                <button class="btn btn-success btn-mini" id="signinbtn" role="button">
                  <!--onclick="self.location.href='<%= new_user_session_path %>'"-->
                  Sign in
                </button>

                <button class="btn btn-success btn-mini" id="signupbtn" role="button">
                  <!--onclick="self.location.href='<%= new_user_registration_path %>'"-->
                  Sign up
                </button>
              </li>
            <% end %>

          </ul>
        </div>
			</div>
		</div>
	</div>
</div>

<div id="hiddenSingin" style="display: none">
  <%= render :partial => "devise/shared/sessions_new" %>
</div>

<div id="hiddenSingup" style="display: none">
  <%= render :partial => "devise/shared/registrations_new" %>
</div>