

<div class="carousel">
  <div class="carousel-inner">
    <div class="active item five"></div>
  </div>
</div>

<div class="claimPlacesContainer container">
  
	<div id="placeListContainer">
		<% @claimPlace.each_with_index do |place,index| %>
			<div class="isotopeStore">
				<a class="placesName" href="<%= claim_place_path(place.id) %>">
					<%= place.storeName %>
				</a>	
        
        <div class="placesAddress">
          <%= place.address %>
        </div>
					
        <a class="placesWebsite" href="http://<%= place.ownerWebsite %>">
          <%= place.ownerWebsite %> 
        </a>

        <div class="placesEmail">
					<%= place.ownerEmail %>
				</div>
			</div>
		<% end %>
	</div>
</div>







<script type="text/javascript">


</script>

<script type="text/css">



/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

</script>