<div class="container" style="margin-top: 200px;">

  <%= simple_form_for @claimPlace do |f| %>
    <%= f.input :storeName,
                label:'Store Name',
                :input_html => { :class => "input-medium" } %>

    <%= f.input :address,
                label: 'Store Address',
                :input_html => { :class => "input-xxlarge"} %>

    <%= f.input :ownerPhone,
                label:'Store Phone',
                :input_html => { :class => "input-medium" } %>

    <%= f.input :ownerEmail,
                label:'Store Email',
                :input_html => { :class => "input-xlarge" } %>

    <%= f.input :ownerWebsite,
                label:'Store Website',
                :input_html => { :class => "input-xlarge" } %>

    <%= f.input :owner,
                label:'Are you Store Owner ?',
                as: :radio_buttons
                 %>

    <%= f.input :description, :input_html => { :class => "input-xxlarge"} %>

    <div class="form-actions">
      <%= f.submit "Submit", :disable_with => 'Submiting...',
                   :class => "btn btn-primary"%>
    </div>
  <% end %>

</div>