<!DOCTYPE html>
<html>
<head>
  <title>Varietal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!--Google fonts-->
  <link href='https://fonts.googleapis.com/css?family=Rouge+Script|Sue+Ellen+Francisco|Nova+Mono|Elsie+Swash+Caps:400,900|Merienda+One|Wallpoet|MedievalSharp&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!--Google maps-->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">

</head>
<body>

<%= render :partial => "common/user_nav" %>

<%= yield %>

</body>
</html>
